//
//  Mixpanel-swift.xcconfig
//  Mixpanel
//
//  Created by Zihe Jia on 1/9/20.
//  Copyright © 2020 Mixpanel. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
_APP_EXTENSION_GCC_YES = 1
_APP_EXTENSION_GCC_NO = 0
APP_EXTENSION_GCC = BUILDING_FOR_APP_EXTENSION=$(_APP_EXTENSION_GCC_$(APPLICATION_EXTENSION_API_ONLY))
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(APP_EXTENSION_GCC)

_APP_EXTENSION_SWIFT_YES = BUILDING_FOR_APP_EXTENSION
_APP_EXTENSION_SWIFT_NO =
APP_EXTENSION_SWIFT = $(_APP_EXTENSION_SWIFT_$(APPLICATION_EXTENSION_API_ONLY))
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(APP_EXTENSION_SWIFT)
