name: macOS CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Swift Lint
      run: swiftlint
    - name: Run Test
      working-directory: MixpanelDemo
      run: |
        set -o pipefail
        xcodebuild -scheme MixpanelDemoMac -derivedDataPath Build/ -configuration Debug ONLY_ACTIVE_ARCH=NO ENABLE_TESTABILITY=YES -enableCodeCoverage YES clean build test | xcpretty -c;
    - name: Code Coverage Report
      working-directory: MixpanelDemo/build/Logs/Test
      run: |
        xcrun xccov view --report --files-for-target Mixpanel.framework  *.xcresult
        xcrun xccov view --report --only-targets *.xcresult
